<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hussar.name %>
</p>

<p>
  <strong>Born:</strong>
  <%= @hussar.born %>
</p>

<%= link_to 'Edit', edit_hussar_path(@hussar) %> |
<%= link_to 'Back', hussars_path %>
